@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$background-color: #f0fdf4;
$background-box: #f3f5f8;
$title-color: #1f2937;
$subtitle-color: #4b5563;
$button-color: #16a34a;
$button-color-hover: #21c05c;
$circle-color: #2563eb;
$circle-color-hover: rgb(171, 171, 255);
$border-color-light: #b4aeae;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;


@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (min-width: $breakpoint-tablet + 1) and (max-width: $breakpoint-laptop) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-laptop + 1) {
      @content;
    }
  }
}


@mixin primary-button($bg-color, $text-color) {
  padding: 0.8rem 1.2rem;
  background: $bg-color;
  color: $text-color;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  min-width: 14rem;
  height: 3.5rem;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  
  @content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: $background-color;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}


h2 {
    font-size: clamp(2.4rem, 5vw, 4rem);
    font-weight: 700;
    color: $title-color;
    margin: 2rem 2rem 0.5rem;
}

main > p:not(.box-content p, .coments-card p) {
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    font-weight: 400;
    color: $subtitle-color;
    margin: 1rem 2rem 3rem;
    line-height: 1.5;
}


header {
  width: 100%;
  background: $background-color;
  padding-bottom: 4rem;

  .container-header {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 2rem;

    @include respond-to(mobile) {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
    }

    .container-header-logo {
      width: 18rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img{
        margin-right: 1rem;
      }
    }

    nav {
      width: 60%;
      max-width: 70rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      @include respond-to(tablet) {
        width: 65%;
      }

      @include respond-to(mobile) {
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
      }

      ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 1rem;

        @include respond-to(mobile) {
            flex-direction: column;
        }

        li {
          font-size: 1.9rem;

          a {
            color: $title-color;
            font-weight: 500;
            font-size: 2.5rem;
          }
        }
      }

      button {
        @include primary-button($button-color, white) {
          background: $button-color;
        };
        width: 60%;
        min-width: 12rem;
        height: 6rem;
        font-size: 2rem;

        &:hover{
          background-color: $button-color-hover;
        }
      }
    }
  }

  hr {
    border: solid 1px $border-color-light;
    margin-bottom: 1rem;
  }

  .container-section-header {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1.5rem;

    @include respond-to(tablet) {
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }

    .container-section-header-left {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      max-width: 90rem;

      @include respond-to(tablet) {
        padding: 0;
        margin-bottom: 4rem;
      }

      h1 {
        font-size: clamp(6rem, 7vw, 8rem);
        font-weight: 700;
        color: $title-color;
      }

      p {
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        color: $subtitle-color;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.3;
      }

      .container-section-header-left-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-start;

        @include respond-to(tablet) {
            justify-content: center;
        }

        .btn-doar {
          @include primary-button($button-color, white) {
            background: $button-color;
          };
          width: 29%;
          min-width: 12rem;
          height: 6rem;
          font-size: 2rem;

          &:hover{
            background-color: $button-color-hover;
          }
        }

        .btn-adquirir {
          @include primary-button($background-box, $circle-color) {
            background: $circle-color;
            color: white;
            border: none;
          };
          border: solid 1px $circle-color;
          width: 29%;
          min-width: 12rem;
          height: 6rem;
          font-size: 2rem;

          &:hover{
            background-color: $circle-color-hover;
          }
        }
      }
    }

    .container-section-header-right {
      flex: 1 1 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;

      img {
        width: 100%;
        max-width: 60rem;
        height: auto;
      }
    }
  }
}

main {
  width: 100%;
  background: $background-color;

  .container-main-percents {
    width: 100%;
    background-color: $background-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
    margin-bottom: 10rem;

    .main-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 2rem;

      @include respond-to(mobile) {
        flex-direction: column;
      }
    }

    .percents {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 30%;
      min-width: 25rem;
      gap: 0.5rem;
      background-color: $background-box;

      h2 {
        color: $button-color;
        font-weight: 700;
        font-size: clamp(3rem, 5vw, 5rem);
        margin: 0;
      }

      p {
        color: $subtitle-color;
        font-weight: 400;
        font-size: clamp(1.6rem, 2vw, 2rem);
        line-height: 120%;
        margin: 0;
      }
    }
  }


  .container-main-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 2rem 1rem;
    margin-bottom: 8rem;

    .container-main-data-box {
      flex: 1 1 45%;
      border-radius: 2rem;
      background-color:$background-box;
      padding: 3rem 2rem;
      max-width: 60rem;
      min-width: 30rem;

      @include respond-to(tablet) {
        flex: 1 1 100%;
        max-width: 90%;
      }

      .box-title-blue, .box-title {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        gap: 1rem;

        img {
          width: 6rem;
          height: auto;
        }

        h3 {
          font-size: clamp(2rem, 3vw, 2.8rem);
          font-weight: 500;
        }
      }

      .box-title-blue h3 { color: $circle-color; }
      .box-title h3 { color: $button-color; }


      p {
        font-size: clamp(1.6rem, 2vw, 2rem);
        margin: 1rem 0 4rem 0;
        line-height: 1.4;
      }

      .box-content {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        .circle img {
          width: 4.4rem;
          height: 4.4rem;
          margin-right: 1.5rem;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h4 {
            font-size: clamp(1.6rem, 2vw, 2rem);
            margin-bottom: 0.3rem;
            color: $title-color;
            font-weight: 600;
          }

          p {
            margin: 0;
            font-size: clamp(1.4rem, 1.5vw, 1.6rem);
            color: $subtitle-color;
          }
        }
      }
    }
  }

  .main-cards {
    width: 100%;
    padding: 7rem 0 8rem 0;
    background-color: $background-box;
    text-align: center;
    margin-bottom: 15rem;

    h2 {
      padding-top: 0;
      margin: 0 0 2rem 0;
    font-size: clamp(3rem, 5vw, 4rem);
    }
    p {
        margin: 1rem auto 5rem auto;
        font-size: 2.5rem;
        color: $subtitle-color;
    }
  }

  .container-cards {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3rem;

    .card {
      border: solid 4px $button-color;
      width: 100%;
      max-width: 35rem;
      min-height: 50rem;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        max-height: 20rem;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
      }

      .sub-card {
        background-color: $background-box;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem 2rem 1rem;

        h4 {
          font-size: clamp(1.8rem, 3vw, 2.4rem);
          margin: 1rem 0;
          font-weight: 600;
          padding-top: 1rem;
          color: $title-color;
        }

        p {
          font-size: clamp(1.4rem, 2vw, 1.9rem);
          padding: 0;
          margin: 1rem 0 2rem 0;
          color: $subtitle-color;
        }

        button {
            @include primary-button($button-color, white) {
              background: $button-color;
              font-size: clamp(1.4rem, 2vw, 1.8rem);
            };
            width: 80%;
            margin: 0 auto;
            min-width: auto;
            height: 6rem;

            &:hover{
              background-color: $button-color-hover;
            }
        }
      }
    }
  }

  .main-main {
    margin: 8rem auto 10rem auto;
    text-align: center;

    h2 {
      padding-top: 0;
      margin-bottom: 0;
    }

    p {
      font-size: clamp(1.8rem, 2.5vw, 2.4rem);
      margin: 1rem auto 4rem auto;
      color:$subtitle-color
    }
  }

  .container-coments {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 8rem;


    .coments-card {
      border: solid 2px $subtitle-color;
      border-radius: 0.8rem;
      box-shadow: $subtitle-color 0.5rem 0.5rem;
      width: 100%;
      max-width: 35rem;
      min-height: 40rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      img {
        align-self: flex-start;
        width: 15rem;
        height: auto;
      }

      p {
        text-align: left;
        font-size: clamp(1.6rem, 2vw, 2rem);
        margin: 2rem 0;
        line-height: 1.5;
        color: $title-color;
      }

      .box-coments {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0;

        img {
          width: 5rem;
          height: 5rem;
          margin: 0;
        }

        .coments {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0.3rem;

          h4 {
            font-size: clamp(1.4rem, 2vw, 1.8rem);
            margin: 0;
            font-weight: 600;
            color: $title-color;
          }

          p {
            font-size: clamp(1.2rem, 1.5vw, 1.4rem);
            padding: 0;
            margin: 0;
            color: $subtitle-color;
          }
        }
      }
    }
  }

  .container-final {
    width: 100%;
    padding: 8rem 2rem;
    background-color: $background-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .container-final-box {
        max-width: 80rem;
    }

    h2{
      font-size: clamp(3rem, 5vw, 4rem);
      font-weight: 700;
      color: $title-color;
      margin-bottom: 4rem;
      margin-top: 0;
    }

    p{
      font-size: clamp(1.8rem, 2vw, 2.4rem);
      color: $subtitle-color;
      margin-bottom: 4rem;
      line-height: 1.4;
      margin-top: 0;
    }

    .container-final-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;

      button {
        @include primary-button($button-color, white) {
          background: $button-color;
        };
        width:25%;
        min-width: 16rem;
        height: 6rem;
        font-size: 2rem;

        &:hover{
          background-color: $button-color-hover;
        }
      }
      .button-2 {
          @include primary-button($background-box, $circle-color) {
            background: $circle-color;
            color: white;
            border: none;
          };
          border: solid 1px $circle-color;
          width: 25%;
          min-width: 16rem;
          height: 6rem;
          font-size: 2rem;

          &:hover{
            background-color: $circle-color-hover;
          }
        }
    }
  }
}

footer{
  width: 100%;
  padding: 6rem 0 2rem 0;
  background-color: $title-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    font-size: 1.6rem;
    color: $subtitle-color;
    margin: 0;
  }

  .container-footer{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0 auto 4rem auto;

    .footer-content{
      width: 20%;
      min-width: 18rem;

      @include respond-to(tablet) {
        width: 45%;
      }
      @include respond-to(mobile) {
        width: 100%;
      }


      img{
        margin-bottom: 2rem;
        width: 20rem;
        height: auto;
      }

      h4{
        color: $background-box;
        margin-bottom: 1.5rem;
        font-weight: 700;
        font-size: 2.4rem;
      }

      p{
        margin-bottom: 1rem;
        color: $border-color-light;
        cursor: pointer;
        transition: color 0.3s;
        
        &:hover {
            color: $button-color-hover;
        }
      }

      .box-redes{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        img{
          margin: 0.5rem 1rem 0 0;
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          transition: transform 0.3s;
          
          &:hover {
              transform: scale(1.1);
          }
        }
      }
    }
  }

  .footer-end{
    width: 90%;
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    hr{
      width: 100%;
      color: $border-color-light;
      border: 1px solid;
    }

    p{
      color: $border-color-light;
      margin: 4rem 0 0 0;
      font-size: 1.7rem;
    }
  }
}